h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 45px;
  }
h1 span:nth-child(1){color:#4285f4}
h1 span:nth-child(2){color:#ea4335}
h1 span:nth-child(3){color:#fbbc05}
h1 span:nth-child(4){color:#34a853}
h1 span:nth-child(5){color:#4285f4}

 li{
  font-size: 24px;
  line-height: 200%;
  margin: 20px;
     }
 ul {
   height: 80px;
   display: flex;
   border-bottom: 3px solid black;
   margin-top: 5px;
    }
 ul a:hover{
   color: green;
   }
 #A{
   font-weight: bold;
   }
 .B{
   font-weight: bold;
   }
 h3 {
   text-align: center;
   font-size: 35px;
   }
 .list {
   text-align: center;
 }

 .Ref {
   display: flex;
   }
 .Ref_window {
   text-align: center;
   width: 300px;
   height: 300px;
   border: 1px solid black; margin:30px;
   font-size: 30px;
   border-radius: 10px;
   }
 .Ref_click {
   color: #007bff;
   background-color: transparent;
   background-image: none;
   border-color: #007bff;
   }
