h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 45px;
  }
h1 span:nth-child(1){color:#4285f4}
h1 span:nth-child(2){color:#ea4335}
h1 span:nth-child(3){color:#fbbc05}
h1 span:nth-child(4){color:#34a853}
h1 span:nth-child(5){color:#4285f4}


li {
  font-size: 20px;
 }
 ul a:hover{
   color: green;
 }
 #A{
   font-size: 25px;font-weight: bold;
 }
 .B{
   font-weight: bold;
 }
