html{
  background-color: beige;
  <link
  href="https://fonts.googleapis.com/css2?family=Ranchers&display=swap" rel="stylesheet">
}

h2 {
  text-align: center;
  margin-top: 15px;
  font-size: 40px;
  }
h2 span:nth-child(1){color:#4285f4}
h2 span:nth-child(2){color:#ea4335}
h2 span:nth-child(3){color:#fbbc05}
h2 span:nth-child(4){color:#34a853}
h2 span:nth-child(5){color:#4285f4}

#contents {
   float:center;
   height: 70px;
   display: flex;
   flex-wrap:wrap;
   justify-content: space-evenly;
  align-content: center;
   border-bottom: 3px solid black;
   margin-top: 2px;
    }

#contents a:hover{
   color: green;
   }

 li{
    font-size: 1.0rem;
    line-height: 200%;
    margin: 20px;
   }

 #A{
   font-weight: bold;
   }

 .B{
   font-weight: bold;
   }
 h3 {
   font-size: 30px;
   font-family: 'Ranchers', cursive;
    }
 .페이지{
   line-height: 2;
 }
 .Ref {
   display: flex;
   }
 .Ref_window {
   text-align: center;
   width: 500px;
   height: 300px;
   border: 1px solid black; margin:30px;
   font-size: 20px;
   border-radius: 10px;
   }
 .Ref_click {
   margin-top:11.5rem;
   padding: .5rem 1rem;
   font-size: 1.25rem;
   line-height: .5;
   border-radius: .3rem;
   color: #007bff;
   background-color: transparent;
   background-image: none;
   border-color: #007bff;
   }
